@media (max-width: 576px) {
  .cake-intro-img-1 img {
    width: 30%;
  }
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Noto Serif TC", serif;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.nav {
  background-color: #5c4936;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: fixed;
}

.nav ul {
  display: inline-block;
  list-style-type: none;
}

.hamburger {
  width: 40px;
  padding-left: 42px;
  position: absolute;
  top: 60px;
  left: 20px;
}

.customer {
  width: 40px;
  padding-left: 354px;
  position: absolute;
  top: 60px;
  right: 80px;
}

.logo {
  width: 214px;
}

.banner img {
  width: 100vw;
  padding-top: 155px;
  margin: 0px;
  border: 0px;
}
.cake1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cake1 ul {
  padding: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cake1 ul li {
  display: inline-block;
  text-align: center;
}

.cake-intro-img-1 img {
  height: 300px;
}

.cake-intro-title-1 p {
  color: #5c4936;
  font-size: 20pt;
  margin-top: 0;
}

.cake-intro-1 {
  padding-top: 87px;
  padding-left: 60px;
}
.cake-intro-1 p {
  display: flex;
  color: #5c4936;
}
.cake-intro-2 img {
  height: 51px;
}
.cake-intro-2 {
  padding-top: 95px;
  padding-right: 60px;
}
.cake-intro-2 p {
  display: flex;
  justify-content: flex-end;
  color: #5c4936;
}

.天使草莓奶油蛋糕-text p {
  text-align: left;
  font-size: 15px;
  color: #bcb08b;
  margin: 0;
}

.price1 {
  color: #5c4936;
  text-align: left;
  font-size: 10px;
  margin: 0;
}

.price1 p {
  margin: 0px;
  font-size: 20px;
  text-align: left;
}
.黑巧克力森林蛋糕-text p {
  text-align: right;
  font-size: 15px;
  color: #bcb08b;
  margin: 0;
}

.金色傳奇起司蛋糕-text p {
  text-align: left;
  font-size: 15px;
  color: #bcb08b;
  margin: 0;
}
.雪白奶油蛋糕-text p {
  text-align: right;
  font-size: 15px;
  color: #bcb08b;
  margin: 0;
}

.cake-intro-img-1 {
  width: 330px;
}

.footer {
  background-color: #5c4936;
  width: 100vw;
  height: 100px;
  text-align: center;
  padding: 0px;
}

.footer p {
  font-size: 10pt;
  color: #ffffff;
  padding-top: 45px;
}

.cake-font {
  display: flex;
  height: 51px;
}

.cake-font-1 {
  display: flex;
  justify-content: flex-end;
}

.button1 {
  border: 0;
  background-color: #5c4936;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  width: 240px;
  height: 30px;
  border-radius: 5px;
}

.button1:hover {
  color: #5c4936;
  background-color: #fff;
  border: 2px #5c4936 solid;
  width: 240px;
  height: 30px;
  border-radius: 5px;
}

.button2 {
  border: 0;
  background-color: #5c4936;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  width: 240px;
  height: 30px;
  border-radius: 5px;
}

.button2:hover {
  color: #5c4936;
  background-color: #fff;
  border: 2px #5c4936 solid;
  width: 240px;
  height: 30px;
  border-radius: 5px;
}

.button3 {
  border: 0;
  background-color: #5c4936;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  width: 240px;
  height: 30px;
  border-radius: 5px;
}

.button3:hover {
  color: #5c4936;
  background-color: #fff;
  border: 2px #5c4936 solid;
  width: 240px;
  height: 30px;
  border-radius: 5px;
}

.button4 {
  border: 0;
  background-color: #5c4936;
  color: #fff;
  border-radius: 0px;
  cursor: pointer;
  width: 240px;
  height: 30px;
  border-radius: 5px;
}

.button4:hover {
  color: #5c4936;
  background-color: #fff;
  border: 2px #5c4936 solid;
  width: 240px;
  height: 30px;
  border-radius: 5px;
}

.btn {
  display: flex;
  justify-content: flex-end;
}

.popUp {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 99;
  position: fixed;
  top: 300px;
}

.howMany1 {
  flex: none;
  width: 250px;
  height: 170px;
  background: #ffffff;
  display: none;
  margin: 10px;
  border-radius: 5px;
}

.howMany1 p {
  color: #ffffff;
  text-align: left;
  margin: 50px;
  padding-left: 130px;
  font-size: 14px;
}

.howMany2 {
  flex: none;
  width: 250px;
  height: 170px;
  background: #ffffff;
  display: none;
  margin: 10px;
  border-radius: 5px;
}

.howMany2 p {
  color: #ffffff;
  text-align: left;
  margin: 50px;
  padding-left: 130px;
  font-size: 14px;
}

.howMany3 {
  flex: none;
  width: 250px;
  height: 170px;
  background: #ffffff;
  display: none;
  margin: 10px;
  border-radius: 5px;
}

.howMany4 {
  flex: none;
  width: 250px;
  height: 170px;
  background: #ffffff;
  display: none;
  margin: 10px;
  border-radius: 5px;
}

.howMany3 p {
  color: #ffffff;
  text-align: left;
  margin: 50px;
  padding-left: 130px;
  font-size: 14px;
}

.close {
  border: 0;
  background-color: #5c4936;
  color: #ffffff;
  border-radius: 0px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  margin-top: 5px;
  margin-left: 27px;
  border-radius: 5px;
}

.close:hover {
  color: #ffffff;
  background-color: #5c4936;
  border: 2px #f9f9f9 solid;
  height: 30px;
  width: 200px;
  border-radius: 5px;
}

.popNum {
  display: inline-block;
}
.popNum p {
  margin: 0;
  text-align: left;
  margin-left: 27px;
  font-size: 10pt;
  color: #bcb08b;
  padding: 0;
}

.popNum h3 {
  margin: 0;
  text-align: left;
  margin: 27px;
  margin-bottom: 0px;
  font-size: 13pt;
  color: #5c4936;
}

.add-cal input {
  border: none;
  border-bottom: 2px solid #5c4936;
  width: 130px;
}

.material-symbols-outlined {
  padding-top: 5pt;
  color: #5c4936;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined-2 {
  padding-top: 5pt;
  color: #5c4936;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined-3 {
  padding-top: 5pt;
  color: #5c4936;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-symbols-outlined-4 {
  padding-top: 5pt;
  color: #5c4936;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addResult {
  margin: 0;
}

.add-cal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-cal-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-cal-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-cal-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}
